.btn-outline-light:hover{
    color: $primaryDark;
    font-weight: bold;
  }

.nav-link{
  color: $primary;
  &:hover, &:focus{
    color: $primaryDark;
    font-weight: bold;
  }
}
.nav-link.active, .cart span:hover{
   font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background: $primaryDark;
}

.text-secondary{
  &:hover{
    color: $secondaryDark;
  }
}

.page-link{
  background: $white;
  color: $primary;
  &:hover,&:active{
    background: $white;
    color: $primary;
  }
  .page-link.active{
    background: $primary;
    color: $white;
  }
  .page-link.disabled{
    background: $light;
  }
}


.text-primary, .text-hover-primaryDark{
  &:hover{
    color: $primaryDark;
  }
}
.btn{
  &:hover{
    color: $white;
  }
}

.hoverBoxShadow{
  &:hover{
    box-shadow: 2px 2px 10px rgba($dark,0.2);
  }
}

// bookHover
.bookHover{
  &:hover{
    &::after{
      transition: all 3s ease-out;
      content:"";
      position: absolute;
      width: 100%;
      height:100%;
      top: 0%;
    }
  }
}
