.btn-outline-light:hover{
    color: $primaryDark;
    font-weight: bold;
  }

.nav-link:hover, .nav-link:focus{
  color: $white;
  font-weight: bold;
}
.nav-link.active, .cart span:hover{
   font-weight: bold;
}

.text-secondary{
  &:hover{
    color: $secondaryDark !important;
  }
}
.text-primary{
  &:hover{
    color: $primaryDark !important;
  }
}
.btn{
  &:hover{
    color: $white;
  }
}

.hoverBoxShadow{
  &:hover{
      box-shadow: 2px 2px 10px rgba($dark,0.2) !important ;
  }
}
