.navUnderline li .nav-link.active{
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: -8%;
        height: 50%;
        border-left: solid 4px $white;
    }
}