.bookCoverImg img{
    width: 100%;
    display: block;
    height: 294px !important;
    object-fit: cover;
    background-position: center center;
    background-size: cover;
}
.swiper-pagination-bullet{
     background: #fff !important;
     opacity:0.8 !important;
}
.swiper-pagination-bullet-active{
    background: #BEC9B8 !important;
}

.banner img{
    height: 160px;
  }

// breakpoint
@include media-breakpoint-up(md) {
    .banner img{
        height: 320px;
      }
  }